In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt", 
                 delim_whitespace=True, comment='#', 
                 header = None, 
                 names=['Year', 
                        'Month', 'DecimalDate', 'AverageC02PPM','InterpolatedC02PPM', 'Trend', 'Days'])

In [65]:
df

     Year  Month  DecimalDate  AverageC02PPM  InterpolatedC02PPM   Trend  Days
0    1958      3     1958.208         315.71              315.71  314.62    -1
1    1958      4     1958.292         317.45              317.45  315.29    -1
2    1958      5     1958.375         317.50              317.50  314.71    -1
3    1958      6     1958.458         -99.99              317.10  314.85    -1
4    1958      7     1958.542         315.86              315.86  314.98    -1
5    1958      8     1958.625         314.93              314.93  315.94    -1
6    1958      9     1958.708         313.20              313.20  315.91    -1
7    1958     10     1958.792         -99.99              312.66  315.61    -1
8    1958     11     1958.875         313.33              313.33  315.31    -1
9    1958     12     1958.958         314.67              314.67  315.61    -1
10   1959      1     1959.042         315.62              315.62  315.70    -1
11   1959      2     1959.125         316.38              316.38  315.88    -1
12   1959      3     1959.208         316.71              316.71  315.62    -1
13   1959      4     1959.292         317.72              317.72  315.56    -1
14   1959      5     1959.375         318.29              318.29  315.50    -1
15   1959      6     1959.458         318.15              318.15  315.92    -1
16   1959      7     1959.542         316.54              316.54  315.66    -1
17   1959      8     1959.625         314.80              314.80  315.81    -1
18   1959      9     1959.708         313.84              313.84  316.55    -1
19   1959     10     1959.792         313.26              313.26  316.19    -1
20   1959     11     1959.875         314.80              314.80  316.78    -1
21   1959     12     1959.958         315.58              315.58  316.52    -1
22   1960      1     1960.042         316.43              316.43  316.51    -1
23   1960      2     1960.125         316.97              316.97  316.47    -1
24   1960      3     1960.208         317.58              317.58  316.49    -1
25   1960      4     1960.292         319.02              319.02  316.86    -1
26   1960      5     1960.375         320.03              320.03  317.24    -1
27   1960      6     1960.458         319.59              319.59  317.36    -1
28   1960      7     1960.542         318.18              318.18  317.30    -1
29   1960      8     1960.625         315.91              315.91  316.92    -1
..    ...    ...          ...            ...                 ...     ...   ...
705  2016     12     2016.958         404.45              404.45  405.14    30
706  2017      1     2017.042         406.17              406.17  405.88    26
707  2017      2     2017.125         406.46              406.46  405.66    26
708  2017      3     2017.208         407.22              407.22  405.74    23
709  2017      4     2017.292         409.04              409.04  406.22    25
710  2017      5     2017.375         409.69              409.69  406.30    27
711  2017      6     2017.458         408.88              408.88  406.57    26
712  2017      7     2017.542         407.12              407.12  406.72    28
713  2017      8     2017.625         405.13              405.13  407.01    29
714  2017      9     2017.708         403.37              403.37  406.94    26
715  2017     10     2017.792         403.63              403.63  407.00    27
716  2017     11     2017.875         405.12              405.12  407.12    26
717  2017     12     2017.958         406.81              406.81  407.50    31
718  2018      1     2018.042         407.96              407.96  407.67    29
719  2018      2     2018.125         408.32              408.32  407.52    28
720  2018      3     2018.208         409.41              409.41  407.92    30
721  2018      4     2018.292         410.24              410.24  407.42    21
722  2018      5     2018.375         411.24              411.24  407.84    24
723  2018      6     2018.458         410.79              410.79  408.47    29
724  2018      7     2018.542         408.71              408.71  408.30    27
725  2018      8     2018.625         406.99              406.99  408.87    30
726  2018      9     2018.708         405.51              405.51  409.08    29
727  2018     10     2018.792         406.00              406.00  409.37    30
728  2018     11     2018.875         408.02              408.02  410.02    24
729  2018     12     2018.958         409.07              409.07  409.76    30
730  2019      1     2019.042         410.83              410.83  410.53    27
731  2019      2     2019.125         411.75              411.75  410.95    27
732  2019      3     2019.208         411.97              411.97  410.48    28
733  2019      4     2019.292         413.32              413.32  410.49    26
734  2019      5     2019.375         414.66              414.66  411.26    28

[735 rows x 7 columns]

In [5]:
df[0:2]

   Year  Month  DecimalDate  AverageC02PPM  InterpolatedC02PPM   Trend  Days
0  1958      3     1958.208         315.71              315.71  314.62    -1
1  1958      4     1958.292         317.45              317.45  315.29    -1

In [6]:
dfs = df[['Year','Month','AverageC02PPM']]

In [7]:
dft = df[['Year','Month','AverageC02PPM']]

In [8]:
df.iloc[0:6,[0,1,3]]

   Year  Month  AverageC02PPM
0  1958      3         315.71
1  1958      4         317.45
2  1958      5         317.50
3  1958      6         -99.99
4  1958      7         315.86
5  1958      8         314.93

In [9]:
dfs

     Year  Month  AverageC02PPM
0    1958      3         315.71
1    1958      4         317.45
2    1958      5         317.50
3    1958      6         -99.99
4    1958      7         315.86
5    1958      8         314.93
6    1958      9         313.20
7    1958     10         -99.99
8    1958     11         313.33
9    1958     12         314.67
10   1959      1         315.62
11   1959      2         316.38
12   1959      3         316.71
13   1959      4         317.72
14   1959      5         318.29
15   1959      6         318.15
16   1959      7         316.54
17   1959      8         314.80
18   1959      9         313.84
19   1959     10         313.26
20   1959     11         314.80
21   1959     12         315.58
22   1960      1         316.43
23   1960      2         316.97
24   1960      3         317.58
25   1960      4         319.02
26   1960      5         320.03
27   1960      6         319.59
28   1960      7         318.18
29   1960      8         315.91
..    ...    ...            ...
705  2016     12         404.45
706  2017      1         406.17
707  2017      2         406.46
708  2017      3         407.22
709  2017      4         409.04
710  2017      5         409.69
711  2017      6         408.88
712  2017      7         407.12
713  2017      8         405.13
714  2017      9         403.37
715  2017     10         403.63
716  2017     11         405.12
717  2017     12         406.81
718  2018      1         407.96
719  2018      2         408.32
720  2018      3         409.41
721  2018      4         410.24
722  2018      5         411.24
723  2018      6         410.79
724  2018      7         408.71
725  2018      8         406.99
726  2018      9         405.51
727  2018     10         406.00
728  2018     11         408.02
729  2018     12         409.07
730  2019      1         410.83
731  2019      2         411.75
732  2019      3         411.97
733  2019      4         413.32
734  2019      5         414.66

[735 rows x 3 columns]

In [10]:
?pd.read_csv

In [11]:
for colname in df:
    print(colname)

Year
Month
DecimalDate
AverageC02PPM
InterpolatedC02PPM
Trend
Days

In [12]:
len(df)

735

In [13]:
df[0:3]

   Year  Month  DecimalDate  AverageC02PPM  InterpolatedC02PPM   Trend  Days
0  1958      3     1958.208         315.71              315.71  314.62    -1
1  1958      4     1958.292         317.45              317.45  315.29    -1
2  1958      5     1958.375         317.50              317.50  314.71    -1

In [16]:
df

     Year  Month  DecimalDate  AverageC02PPM  InterpolatedC02PPM   Trend  Days
0    1958      3     1958.208         315.71              315.71  314.62    -1
1    1958      4     1958.292         317.45              317.45  315.29    -1
2    1958      5     1958.375         317.50              317.50  314.71    -1
3    1958      6     1958.458         -99.99              317.10  314.85    -1
4    1958      7     1958.542         315.86              315.86  314.98    -1
5    1958      8     1958.625         314.93              314.93  315.94    -1
6    1958      9     1958.708         313.20              313.20  315.91    -1
7    1958     10     1958.792         -99.99              312.66  315.61    -1
8    1958     11     1958.875         313.33              313.33  315.31    -1
9    1958     12     1958.958         314.67              314.67  315.61    -1
10   1959      1     1959.042         315.62              315.62  315.70    -1
11   1959      2     1959.125         316.38              316.38  315.88    -1
12   1959      3     1959.208         316.71              316.71  315.62    -1
13   1959      4     1959.292         317.72              317.72  315.56    -1
14   1959      5     1959.375         318.29              318.29  315.50    -1
15   1959      6     1959.458         318.15              318.15  315.92    -1
16   1959      7     1959.542         316.54              316.54  315.66    -1
17   1959      8     1959.625         314.80              314.80  315.81    -1
18   1959      9     1959.708         313.84              313.84  316.55    -1
19   1959     10     1959.792         313.26              313.26  316.19    -1
20   1959     11     1959.875         314.80              314.80  316.78    -1
21   1959     12     1959.958         315.58              315.58  316.52    -1
22   1960      1     1960.042         316.43              316.43  316.51    -1
23   1960      2     1960.125         316.97              316.97  316.47    -1
24   1960      3     1960.208         317.58              317.58  316.49    -1
25   1960      4     1960.292         319.02              319.02  316.86    -1
26   1960      5     1960.375         320.03              320.03  317.24    -1
27   1960      6     1960.458         319.59              319.59  317.36    -1
28   1960      7     1960.542         318.18              318.18  317.30    -1
29   1960      8     1960.625         315.91              315.91  316.92    -1
..    ...    ...          ...            ...                 ...     ...   ...
705  2016     12     2016.958         404.45              404.45  405.14    30
706  2017      1     2017.042         406.17              406.17  405.88    26
707  2017      2     2017.125         406.46              406.46  405.66    26
708  2017      3     2017.208         407.22              407.22  405.74    23
709  2017      4     2017.292         409.04              409.04  406.22    25
710  2017      5     2017.375         409.69              409.69  406.30    27
711  2017      6     2017.458         408.88              408.88  406.57    26
712  2017      7     2017.542         407.12              407.12  406.72    28
713  2017      8     2017.625         405.13              405.13  407.01    29
714  2017      9     2017.708         403.37              403.37  406.94    26
715  2017     10     2017.792         403.63              403.63  407.00    27
716  2017     11     2017.875         405.12              405.12  407.12    26
717  2017     12     2017.958         406.81              406.81  407.50    31
718  2018      1     2018.042         407.96              407.96  407.67    29
719  2018      2     2018.125         408.32              408.32  407.52    28
720  2018      3     2018.208         409.41              409.41  407.92    30
721  2018      4     2018.292         410.24              410.24  407.42    21
722  2018      5     2018.375         411.24              411.24  407.84    24
723  2018      6     2018.458         410.79              410.79  408.47    29
724  2018      7     2018.542         408.71              408.71  408.30    27
725  2018      8     2018.625         406.99              406.99  408.87    30
726  2018      9     2018.708         405.51              405.51  409.08    29
727  2018     10     2018.792         406.00              406.00  409.37    30
728  2018     11     2018.875         408.02              408.02  410.02    24
729  2018     12     2018.958         409.07              409.07  409.76    30
730  2019      1     2019.042         410.83              410.83  410.53    27
731  2019      2     2019.125         411.75              411.75  410.95    27
732  2019      3     2019.208         411.97              411.97  410.48    28
733  2019      4     2019.292         413.32              413.32  410.49    26
734  2019      5     2019.375         414.66              414.66  411.26    28

[735 rows x 7 columns]

In [21]:
df[df.AverageC02PPM==-99.99]

     Year  Month  DecimalDate  AverageC02PPM  InterpolatedC02PPM   Trend  Days
3    1958      6     1958.458         -99.99              317.10  314.85    -1
7    1958     10     1958.792         -99.99              312.66  315.61    -1
71   1964      2     1964.125         -99.99              320.07  319.61    -1
72   1964      3     1964.208         -99.99              320.73  319.55    -1
73   1964      4     1964.292         -99.99              321.77  319.48    -1
213  1975     12     1975.958         -99.99              330.58  331.60     0
313  1984      4     1984.292         -99.99              346.84  344.27     2

In [22]:
df

     Year  Month  DecimalDate  AverageC02PPM  InterpolatedC02PPM   Trend  Days
0    1958      3     1958.208         315.71              315.71  314.62    -1
1    1958      4     1958.292         317.45              317.45  315.29    -1
2    1958      5     1958.375         317.50              317.50  314.71    -1
3    1958      6     1958.458         -99.99              317.10  314.85    -1
4    1958      7     1958.542         315.86              315.86  314.98    -1
5    1958      8     1958.625         314.93              314.93  315.94    -1
6    1958      9     1958.708         313.20              313.20  315.91    -1
7    1958     10     1958.792         -99.99              312.66  315.61    -1
8    1958     11     1958.875         313.33              313.33  315.31    -1
9    1958     12     1958.958         314.67              314.67  315.61    -1
10   1959      1     1959.042         315.62              315.62  315.70    -1
11   1959      2     1959.125         316.38              316.38  315.88    -1
12   1959      3     1959.208         316.71              316.71  315.62    -1
13   1959      4     1959.292         317.72              317.72  315.56    -1
14   1959      5     1959.375         318.29              318.29  315.50    -1
15   1959      6     1959.458         318.15              318.15  315.92    -1
16   1959      7     1959.542         316.54              316.54  315.66    -1
17   1959      8     1959.625         314.80              314.80  315.81    -1
18   1959      9     1959.708         313.84              313.84  316.55    -1
19   1959     10     1959.792         313.26              313.26  316.19    -1
20   1959     11     1959.875         314.80              314.80  316.78    -1
21   1959     12     1959.958         315.58              315.58  316.52    -1
22   1960      1     1960.042         316.43              316.43  316.51    -1
23   1960      2     1960.125         316.97              316.97  316.47    -1
24   1960      3     1960.208         317.58              317.58  316.49    -1
25   1960      4     1960.292         319.02              319.02  316.86    -1
26   1960      5     1960.375         320.03              320.03  317.24    -1
27   1960      6     1960.458         319.59              319.59  317.36    -1
28   1960      7     1960.542         318.18              318.18  317.30    -1
29   1960      8     1960.625         315.91              315.91  316.92    -1
..    ...    ...          ...            ...                 ...     ...   ...
705  2016     12     2016.958         404.45              404.45  405.14    30
706  2017      1     2017.042         406.17              406.17  405.88    26
707  2017      2     2017.125         406.46              406.46  405.66    26
708  2017      3     2017.208         407.22              407.22  405.74    23
709  2017      4     2017.292         409.04              409.04  406.22    25
710  2017      5     2017.375         409.69              409.69  406.30    27
711  2017      6     2017.458         408.88              408.88  406.57    26
712  2017      7     2017.542         407.12              407.12  406.72    28
713  2017      8     2017.625         405.13              405.13  407.01    29
714  2017      9     2017.708         403.37              403.37  406.94    26
715  2017     10     2017.792         403.63              403.63  407.00    27
716  2017     11     2017.875         405.12              405.12  407.12    26
717  2017     12     2017.958         406.81              406.81  407.50    31
718  2018      1     2018.042         407.96              407.96  407.67    29
719  2018      2     2018.125         408.32              408.32  407.52    28
720  2018      3     2018.208         409.41              409.41  407.92    30
721  2018      4     2018.292         410.24              410.24  407.42    21
722  2018      5     2018.375         411.24              411.24  407.84    24
723  2018      6     2018.458         410.79              410.79  408.47    29
724  2018      7     2018.542         408.71              408.71  408.30    27
725  2018      8     2018.625         406.99              406.99  408.87    30
726  2018      9     2018.708         405.51              405.51  409.08    29
727  2018     10     2018.792         406.00              406.00  409.37    30
728  2018     11     2018.875         408.02              408.02  410.02    24
729  2018     12     2018.958         409.07              409.07  409.76    30
730  2019      1     2019.042         410.83              410.83  410.53    27
731  2019      2     2019.125         411.75              411.75  410.95    27
732  2019      3     2019.208         411.97              411.97  410.48    28
733  2019      4     2019.292         413.32              413.32  410.49    26
734  2019      5     2019.375         414.66              414.66  411.26    28

[735 rows x 7 columns]

In [23]:
import numpy as np

In [24]:
np.nan

nan

In [25]:
?np.nan

In [26]:
np.nan+4

nan

In [27]:
0/0

ZeroDivisionError: division by zero

In [28]:
dfs['AverageC02PPM']

0      315.71
1      317.45
2      317.50
3      -99.99
4      315.86
5      314.93
6      313.20
7      -99.99
8      313.33
9      314.67
10     315.62
11     316.38
12     316.71
13     317.72
14     318.29
15     318.15
16     316.54
17     314.80
18     313.84
19     313.26
20     314.80
21     315.58
22     316.43
23     316.97
24     317.58
25     319.02
26     320.03
27     319.59
28     318.18
29     315.91
        ...
705    404.45
706    406.17
707    406.46
708    407.22
709    409.04
710    409.69
711    408.88
712    407.12
713    405.13
714    403.37
715    403.63
716    405.12
717    406.81
718    407.96
719    408.32
720    409.41
721    410.24
722    411.24
723    410.79
724    408.71
725    406.99
726    405.51
727    406.00
728    408.02
729    409.07
730    410.83
731    411.75
732    411.97
733    413.32
734    414.66
Name: AverageC02PPM, Length: 735, dtype: float64

In [29]:
dfs['AverageC02PPM'][dfs['AverageC02PPM']==-99.99] = np.nan

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
missing = dft['AverageC02PPM']==-99.99

In [31]:
dft['AverageC02PPM'][missing] = np.nan

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
dfw = dft.rename(index=str,columns={'Year':'Year','Month':'Month',"AverageC02PPM":'C02'})

In [33]:
dfw['Day'] = 15

In [34]:
dfw

     Year  Month     C02  Day
0    1958      3  315.71   15
1    1958      4  317.45   15
2    1958      5  317.50   15
3    1958      6     NaN   15
4    1958      7  315.86   15
5    1958      8  314.93   15
6    1958      9  313.20   15
7    1958     10     NaN   15
8    1958     11  313.33   15
9    1958     12  314.67   15
10   1959      1  315.62   15
11   1959      2  316.38   15
12   1959      3  316.71   15
13   1959      4  317.72   15
14   1959      5  318.29   15
15   1959      6  318.15   15
16   1959      7  316.54   15
17   1959      8  314.80   15
18   1959      9  313.84   15
19   1959     10  313.26   15
20   1959     11  314.80   15
21   1959     12  315.58   15
22   1960      1  316.43   15
23   1960      2  316.97   15
24   1960      3  317.58   15
25   1960      4  319.02   15
26   1960      5  320.03   15
27   1960      6  319.59   15
28   1960      7  318.18   15
29   1960      8  315.91   15
..    ...    ...     ...  ...
705  2016     12  404.45   15
706  2017      1  406.17   15
707  2017      2  406.46   15
708  2017      3  407.22   15
709  2017      4  409.04   15
710  2017      5  409.69   15
711  2017      6  408.88   15
712  2017      7  407.12   15
713  2017      8  405.13   15
714  2017      9  403.37   15
715  2017     10  403.63   15
716  2017     11  405.12   15
717  2017     12  406.81   15
718  2018      1  407.96   15
719  2018      2  408.32   15
720  2018      3  409.41   15
721  2018      4  410.24   15
722  2018      5  411.24   15
723  2018      6  410.79   15
724  2018      7  408.71   15
725  2018      8  406.99   15
726  2018      9  405.51   15
727  2018     10  406.00   15
728  2018     11  408.02   15
729  2018     12  409.07   15
730  2019      1  410.83   15
731  2019      2  411.75   15
732  2019      3  411.97   15
733  2019      4  413.32   15
734  2019      5  414.66   15

[735 rows x 4 columns]

In [35]:
import datetime

In [36]:
?datetime.date

In [37]:
str(datetime.date(1970,8,1))

'1970-08-01'

In [38]:
z = ['']*len(dfw)

In [39]:
z

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [40]:
dz = pd.Series(z)

In [41]:
str(datetime.date(1970,8,1))

'1970-08-01'

In [42]:
dfw['Year'][3]

1958

In [43]:
for i in range(len(dfw)):
    dz[i] = str(datetime.date(dfw['Year'][i],dfw['Month'][i],dfw['Day'][i]))

In [44]:
dz

0      1958-03-15
1      1958-04-15
2      1958-05-15
3      1958-06-15
4      1958-07-15
5      1958-08-15
6      1958-09-15
7      1958-10-15
8      1958-11-15
9      1958-12-15
10     1959-01-15
11     1959-02-15
12     1959-03-15
13     1959-04-15
14     1959-05-15
15     1959-06-15
16     1959-07-15
17     1959-08-15
18     1959-09-15
19     1959-10-15
20     1959-11-15
21     1959-12-15
22     1960-01-15
23     1960-02-15
24     1960-03-15
25     1960-04-15
26     1960-05-15
27     1960-06-15
28     1960-07-15
29     1960-08-15
          ...
705    2016-12-15
706    2017-01-15
707    2017-02-15
708    2017-03-15
709    2017-04-15
710    2017-05-15
711    2017-06-15
712    2017-07-15
713    2017-08-15
714    2017-09-15
715    2017-10-15
716    2017-11-15
717    2017-12-15
718    2018-01-15
719    2018-02-15
720    2018-03-15
721    2018-04-15
722    2018-05-15
723    2018-06-15
724    2018-07-15
725    2018-08-15
726    2018-09-15
727    2018-10-15
728    2018-11-15
729    2018-12-15
730    2019-01-15
731    2019-02-15
732    2019-03-15
733    2019-04-15
734    2019-05-15
Length: 735, dtype: object

In [45]:
dfw.loc[:,'Date'] = dz

In [46]:
dfw

     Year  Month     C02  Day Date
0    1958      3  315.71   15  NaN
1    1958      4  317.45   15  NaN
2    1958      5  317.50   15  NaN
3    1958      6     NaN   15  NaN
4    1958      7  315.86   15  NaN
5    1958      8  314.93   15  NaN
6    1958      9  313.20   15  NaN
7    1958     10     NaN   15  NaN
8    1958     11  313.33   15  NaN
9    1958     12  314.67   15  NaN
10   1959      1  315.62   15  NaN
11   1959      2  316.38   15  NaN
12   1959      3  316.71   15  NaN
13   1959      4  317.72   15  NaN
14   1959      5  318.29   15  NaN
15   1959      6  318.15   15  NaN
16   1959      7  316.54   15  NaN
17   1959      8  314.80   15  NaN
18   1959      9  313.84   15  NaN
19   1959     10  313.26   15  NaN
20   1959     11  314.80   15  NaN
21   1959     12  315.58   15  NaN
22   1960      1  316.43   15  NaN
23   1960      2  316.97   15  NaN
24   1960      3  317.58   15  NaN
25   1960      4  319.02   15  NaN
26   1960      5  320.03   15  NaN
27   1960      6  319.59   15  NaN
28   1960      7  318.18   15  NaN
29   1960      8  315.91   15  NaN
..    ...    ...     ...  ...  ...
705  2016     12  404.45   15  NaN
706  2017      1  406.17   15  NaN
707  2017      2  406.46   15  NaN
708  2017      3  407.22   15  NaN
709  2017      4  409.04   15  NaN
710  2017      5  409.69   15  NaN
711  2017      6  408.88   15  NaN
712  2017      7  407.12   15  NaN
713  2017      8  405.13   15  NaN
714  2017      9  403.37   15  NaN
715  2017     10  403.63   15  NaN
716  2017     11  405.12   15  NaN
717  2017     12  406.81   15  NaN
718  2018      1  407.96   15  NaN
719  2018      2  408.32   15  NaN
720  2018      3  409.41   15  NaN
721  2018      4  410.24   15  NaN
722  2018      5  411.24   15  NaN
723  2018      6  410.79   15  NaN
724  2018      7  408.71   15  NaN
725  2018      8  406.99   15  NaN
726  2018      9  405.51   15  NaN
727  2018     10  406.00   15  NaN
728  2018     11  408.02   15  NaN
729  2018     12  409.07   15  NaN
730  2019      1  410.83   15  NaN
731  2019      2  411.75   15  NaN
732  2019      3  411.97   15  NaN
733  2019      4  413.32   15  NaN
734  2019      5  414.66   15  NaN

[735 rows x 5 columns]

In [47]:
dfw = dfw.drop('Date', axis=1)

In [48]:
dfw

     Year  Month     C02  Day
0    1958      3  315.71   15
1    1958      4  317.45   15
2    1958      5  317.50   15
3    1958      6     NaN   15
4    1958      7  315.86   15
5    1958      8  314.93   15
6    1958      9  313.20   15
7    1958     10     NaN   15
8    1958     11  313.33   15
9    1958     12  314.67   15
10   1959      1  315.62   15
11   1959      2  316.38   15
12   1959      3  316.71   15
13   1959      4  317.72   15
14   1959      5  318.29   15
15   1959      6  318.15   15
16   1959      7  316.54   15
17   1959      8  314.80   15
18   1959      9  313.84   15
19   1959     10  313.26   15
20   1959     11  314.80   15
21   1959     12  315.58   15
22   1960      1  316.43   15
23   1960      2  316.97   15
24   1960      3  317.58   15
25   1960      4  319.02   15
26   1960      5  320.03   15
27   1960      6  319.59   15
28   1960      7  318.18   15
29   1960      8  315.91   15
..    ...    ...     ...  ...
705  2016     12  404.45   15
706  2017      1  406.17   15
707  2017      2  406.46   15
708  2017      3  407.22   15
709  2017      4  409.04   15
710  2017      5  409.69   15
711  2017      6  408.88   15
712  2017      7  407.12   15
713  2017      8  405.13   15
714  2017      9  403.37   15
715  2017     10  403.63   15
716  2017     11  405.12   15
717  2017     12  406.81   15
718  2018      1  407.96   15
719  2018      2  408.32   15
720  2018      3  409.41   15
721  2018      4  410.24   15
722  2018      5  411.24   15
723  2018      6  410.79   15
724  2018      7  408.71   15
725  2018      8  406.99   15
726  2018      9  405.51   15
727  2018     10  406.00   15
728  2018     11  408.02   15
729  2018     12  409.07   15
730  2019      1  410.83   15
731  2019      2  411.75   15
732  2019      3  411.97   15
733  2019      4  413.32   15
734  2019      5  414.66   15

[735 rows x 4 columns]

In [49]:
dfw['Date'] = dz.iloc[:].values

In [51]:
dfymd = dfw.copy()

In [52]:
dfw = dfw.drop('Day', axis=1)

In [53]:
dfw

     Year  Month     C02        Date
0    1958      3  315.71  1958-03-15
1    1958      4  317.45  1958-04-15
2    1958      5  317.50  1958-05-15
3    1958      6     NaN  1958-06-15
4    1958      7  315.86  1958-07-15
5    1958      8  314.93  1958-08-15
6    1958      9  313.20  1958-09-15
7    1958     10     NaN  1958-10-15
8    1958     11  313.33  1958-11-15
9    1958     12  314.67  1958-12-15
10   1959      1  315.62  1959-01-15
11   1959      2  316.38  1959-02-15
12   1959      3  316.71  1959-03-15
13   1959      4  317.72  1959-04-15
14   1959      5  318.29  1959-05-15
15   1959      6  318.15  1959-06-15
16   1959      7  316.54  1959-07-15
17   1959      8  314.80  1959-08-15
18   1959      9  313.84  1959-09-15
19   1959     10  313.26  1959-10-15
20   1959     11  314.80  1959-11-15
21   1959     12  315.58  1959-12-15
22   1960      1  316.43  1960-01-15
23   1960      2  316.97  1960-02-15
24   1960      3  317.58  1960-03-15
25   1960      4  319.02  1960-04-15
26   1960      5  320.03  1960-05-15
27   1960      6  319.59  1960-06-15
28   1960      7  318.18  1960-07-15
29   1960      8  315.91  1960-08-15
..    ...    ...     ...         ...
705  2016     12  404.45  2016-12-15
706  2017      1  406.17  2017-01-15
707  2017      2  406.46  2017-02-15
708  2017      3  407.22  2017-03-15
709  2017      4  409.04  2017-04-15
710  2017      5  409.69  2017-05-15
711  2017      6  408.88  2017-06-15
712  2017      7  407.12  2017-07-15
713  2017      8  405.13  2017-08-15
714  2017      9  403.37  2017-09-15
715  2017     10  403.63  2017-10-15
716  2017     11  405.12  2017-11-15
717  2017     12  406.81  2017-12-15
718  2018      1  407.96  2018-01-15
719  2018      2  408.32  2018-02-15
720  2018      3  409.41  2018-03-15
721  2018      4  410.24  2018-04-15
722  2018      5  411.24  2018-05-15
723  2018      6  410.79  2018-06-15
724  2018      7  408.71  2018-07-15
725  2018      8  406.99  2018-08-15
726  2018      9  405.51  2018-09-15
727  2018     10  406.00  2018-10-15
728  2018     11  408.02  2018-11-15
729  2018     12  409.07  2018-12-15
730  2019      1  410.83  2019-01-15
731  2019      2  411.75  2019-02-15
732  2019      3  411.97  2019-03-15
733  2019      4  413.32  2019-04-15
734  2019      5  414.66  2019-05-15

[735 rows x 4 columns]

In [54]:
dfymd

     Year  Month     C02  Day        Date
0    1958      3  315.71   15  1958-03-15
1    1958      4  317.45   15  1958-04-15
2    1958      5  317.50   15  1958-05-15
3    1958      6     NaN   15  1958-06-15
4    1958      7  315.86   15  1958-07-15
5    1958      8  314.93   15  1958-08-15
6    1958      9  313.20   15  1958-09-15
7    1958     10     NaN   15  1958-10-15
8    1958     11  313.33   15  1958-11-15
9    1958     12  314.67   15  1958-12-15
10   1959      1  315.62   15  1959-01-15
11   1959      2  316.38   15  1959-02-15
12   1959      3  316.71   15  1959-03-15
13   1959      4  317.72   15  1959-04-15
14   1959      5  318.29   15  1959-05-15
15   1959      6  318.15   15  1959-06-15
16   1959      7  316.54   15  1959-07-15
17   1959      8  314.80   15  1959-08-15
18   1959      9  313.84   15  1959-09-15
19   1959     10  313.26   15  1959-10-15
20   1959     11  314.80   15  1959-11-15
21   1959     12  315.58   15  1959-12-15
22   1960      1  316.43   15  1960-01-15
23   1960      2  316.97   15  1960-02-15
24   1960      3  317.58   15  1960-03-15
25   1960      4  319.02   15  1960-04-15
26   1960      5  320.03   15  1960-05-15
27   1960      6  319.59   15  1960-06-15
28   1960      7  318.18   15  1960-07-15
29   1960      8  315.91   15  1960-08-15
..    ...    ...     ...  ...         ...
705  2016     12  404.45   15  2016-12-15
706  2017      1  406.17   15  2017-01-15
707  2017      2  406.46   15  2017-02-15
708  2017      3  407.22   15  2017-03-15
709  2017      4  409.04   15  2017-04-15
710  2017      5  409.69   15  2017-05-15
711  2017      6  408.88   15  2017-06-15
712  2017      7  407.12   15  2017-07-15
713  2017      8  405.13   15  2017-08-15
714  2017      9  403.37   15  2017-09-15
715  2017     10  403.63   15  2017-10-15
716  2017     11  405.12   15  2017-11-15
717  2017     12  406.81   15  2017-12-15
718  2018      1  407.96   15  2018-01-15
719  2018      2  408.32   15  2018-02-15
720  2018      3  409.41   15  2018-03-15
721  2018      4  410.24   15  2018-04-15
722  2018      5  411.24   15  2018-05-15
723  2018      6  410.79   15  2018-06-15
724  2018      7  408.71   15  2018-07-15
725  2018      8  406.99   15  2018-08-15
726  2018      9  405.51   15  2018-09-15
727  2018     10  406.00   15  2018-10-15
728  2018     11  408.02   15  2018-11-15
729  2018     12  409.07   15  2018-12-15
730  2019      1  410.83   15  2019-01-15
731  2019      2  411.75   15  2019-02-15
732  2019      3  411.97   15  2019-03-15
733  2019      4  413.32   15  2019-04-15
734  2019      5  414.66   15  2019-05-15

[735 rows x 5 columns]

In [56]:
df2 = dfymd

In [58]:
dfa  = dfw.groupby('Year')['C02'].mean()

In [59]:
dfb = dfw.groupby('Year')

In [60]:
dfb['C02'].mean()

Year
1958    315.331250
1959    315.974167
1960    316.907500
1961    317.637500
1962    318.450833
1963    318.994167
1964    319.204444
1965    320.044167
1966    321.383333
1967    322.157500
1968    323.045000
1969    324.624167
1970    325.680000
1971    326.320000
1972    327.453333
1973    329.676667
1974    330.185000
1975    331.162727
1976    332.038333
1977    333.831667
1978    335.403333
1979    336.841667
1980    338.751667
1981    340.105000
1982    341.447500
1983    343.054167
1984    344.451818
1985    346.116667
1986    347.420000
1987    349.194167
           ...
1990    354.394167
1991    355.607500
1992    356.445833
1993    357.100000
1994    358.833333
1995    360.820000
1996    362.605833
1997    363.729167
1998    366.700000
1999    368.377500
2000    369.550000
2001    371.143333
2002    373.279167
2003    375.802500
2004    377.522500
2005    379.795833
2006    381.895833
2007    383.791667
2008    385.604167
2009    387.430000
2010    389.898333
2011    391.652500
2012    393.853333
2013    396.520000
2014    398.647500
2015    400.834167
2016    404.239167
2017    406.553333
2018    408.521667
2019    412.506000
Name: C02, Length: 62, dtype: float64

In [61]:
dfb.head()

     Year  Month     C02        Date
0    1958      3  315.71  1958-03-15
1    1958      4  317.45  1958-04-15
2    1958      5  317.50  1958-05-15
3    1958      6     NaN  1958-06-15
4    1958      7  315.86  1958-07-15
10   1959      1  315.62  1959-01-15
11   1959      2  316.38  1959-02-15
12   1959      3  316.71  1959-03-15
13   1959      4  317.72  1959-04-15
14   1959      5  318.29  1959-05-15
22   1960      1  316.43  1960-01-15
23   1960      2  316.97  1960-02-15
24   1960      3  317.58  1960-03-15
25   1960      4  319.02  1960-04-15
26   1960      5  320.03  1960-05-15
34   1961      1  316.93  1961-01-15
35   1961      2  317.70  1961-02-15
36   1961      3  318.54  1961-03-15
37   1961      4  319.48  1961-04-15
38   1961      5  320.58  1961-05-15
46   1962      1  317.94  1962-01-15
47   1962      2  318.56  1962-02-15
48   1962      3  319.68  1962-03-15
49   1962      4  320.63  1962-04-15
50   1962      5  321.01  1962-05-15
58   1963      1  318.74  1963-01-15
59   1963      2  319.08  1963-02-15
60   1963      3  319.86  1963-03-15
61   1963      4  321.39  1963-04-15
62   1963      5  322.25  1963-05-15
..    ...    ...     ...         ...
670  2014      1  397.85  2014-01-15
671  2014      2  398.01  2014-02-15
672  2014      3  399.77  2014-03-15
673  2014      4  401.38  2014-04-15
674  2014      5  401.78  2014-05-15
682  2015      1  399.98  2015-01-15
683  2015      2  400.28  2015-02-15
684  2015      3  401.54  2015-03-15
685  2015      4  403.28  2015-04-15
686  2015      5  403.96  2015-05-15
694  2016      1  402.56  2016-01-15
695  2016      2  404.12  2016-02-15
696  2016      3  404.87  2016-03-15
697  2016      4  407.45  2016-04-15
698  2016      5  407.72  2016-05-15
706  2017      1  406.17  2017-01-15
707  2017      2  406.46  2017-02-15
708  2017      3  407.22  2017-03-15
709  2017      4  409.04  2017-04-15
710  2017      5  409.69  2017-05-15
718  2018      1  407.96  2018-01-15
719  2018      2  408.32  2018-02-15
720  2018      3  409.41  2018-03-15
721  2018      4  410.24  2018-04-15
722  2018      5  411.24  2018-05-15
730  2019      1  410.83  2019-01-15
731  2019      2  411.75  2019-02-15
732  2019      3  411.97  2019-03-15
733  2019      4  413.32  2019-04-15
734  2019      5  414.66  2019-05-15

[310 rows x 4 columns]

In [195]:
dfa

Year
1958    315.331250
1959    315.974167
1960    316.907500
1961    317.637500
1962    318.450833
1963    318.994167
1964    319.204444
1965    320.044167
1966    321.383333
1967    322.157500
1968    323.045000
1969    324.624167
1970    325.680000
1971    326.320000
1972    327.453333
1973    329.676667
1974    330.185000
1975    331.162727
1976    332.038333
1977    333.831667
1978    335.403333
1979    336.841667
1980    338.751667
1981    340.105000
1982    341.447500
1983    343.054167
1984    344.451818
1985    346.116667
1986    347.420000
1987    349.194167
           ...
1990    354.394167
1991    355.607500
1992    356.445833
1993    357.100000
1994    358.833333
1995    360.820000
1996    362.605833
1997    363.729167
1998    366.700000
1999    368.377500
2000    369.550000
2001    371.143333
2002    373.279167
2003    375.802500
2004    377.522500
2005    379.795833
2006    381.895833
2007    383.791667
2008    385.604167
2009    387.430000
2010    389.898333
2011    391.652500
2012    393.853333
2013    396.520000
2014    398.647500
2015    400.834167
2016    404.239167
2017    406.553333
2018    408.521667
2019    412.506000
Name: C02, Length: 62, dtype: float64

In [62]:
dfa

Year
1958    315.331250
1959    315.974167
1960    316.907500
1961    317.637500
1962    318.450833
1963    318.994167
1964    319.204444
1965    320.044167
1966    321.383333
1967    322.157500
1968    323.045000
1969    324.624167
1970    325.680000
1971    326.320000
1972    327.453333
1973    329.676667
1974    330.185000
1975    331.162727
1976    332.038333
1977    333.831667
1978    335.403333
1979    336.841667
1980    338.751667
1981    340.105000
1982    341.447500
1983    343.054167
1984    344.451818
1985    346.116667
1986    347.420000
1987    349.194167
           ...
1990    354.394167
1991    355.607500
1992    356.445833
1993    357.100000
1994    358.833333
1995    360.820000
1996    362.605833
1997    363.729167
1998    366.700000
1999    368.377500
2000    369.550000
2001    371.143333
2002    373.279167
2003    375.802500
2004    377.522500
2005    379.795833
2006    381.895833
2007    383.791667
2008    385.604167
2009    387.430000
2010    389.898333
2011    391.652500
2012    393.853333
2013    396.520000
2014    398.647500
2015    400.834167
2016    404.239167
2017    406.553333
2018    408.521667
2019    412.506000
Name: C02, Length: 62, dtype: float64

In [206]:
type(dfa)

pandas.core.series.Series

In [63]:
dfw

     Year  Month     C02        Date
0    1958      3  315.71  1958-03-15
1    1958      4  317.45  1958-04-15
2    1958      5  317.50  1958-05-15
3    1958      6     NaN  1958-06-15
4    1958      7  315.86  1958-07-15
5    1958      8  314.93  1958-08-15
6    1958      9  313.20  1958-09-15
7    1958     10     NaN  1958-10-15
8    1958     11  313.33  1958-11-15
9    1958     12  314.67  1958-12-15
10   1959      1  315.62  1959-01-15
11   1959      2  316.38  1959-02-15
12   1959      3  316.71  1959-03-15
13   1959      4  317.72  1959-04-15
14   1959      5  318.29  1959-05-15
15   1959      6  318.15  1959-06-15
16   1959      7  316.54  1959-07-15
17   1959      8  314.80  1959-08-15
18   1959      9  313.84  1959-09-15
19   1959     10  313.26  1959-10-15
20   1959     11  314.80  1959-11-15
21   1959     12  315.58  1959-12-15
22   1960      1  316.43  1960-01-15
23   1960      2  316.97  1960-02-15
24   1960      3  317.58  1960-03-15
25   1960      4  319.02  1960-04-15
26   1960      5  320.03  1960-05-15
27   1960      6  319.59  1960-06-15
28   1960      7  318.18  1960-07-15
29   1960      8  315.91  1960-08-15
..    ...    ...     ...         ...
705  2016     12  404.45  2016-12-15
706  2017      1  406.17  2017-01-15
707  2017      2  406.46  2017-02-15
708  2017      3  407.22  2017-03-15
709  2017      4  409.04  2017-04-15
710  2017      5  409.69  2017-05-15
711  2017      6  408.88  2017-06-15
712  2017      7  407.12  2017-07-15
713  2017      8  405.13  2017-08-15
714  2017      9  403.37  2017-09-15
715  2017     10  403.63  2017-10-15
716  2017     11  405.12  2017-11-15
717  2017     12  406.81  2017-12-15
718  2018      1  407.96  2018-01-15
719  2018      2  408.32  2018-02-15
720  2018      3  409.41  2018-03-15
721  2018      4  410.24  2018-04-15
722  2018      5  411.24  2018-05-15
723  2018      6  410.79  2018-06-15
724  2018      7  408.71  2018-07-15
725  2018      8  406.99  2018-08-15
726  2018      9  405.51  2018-09-15
727  2018     10  406.00  2018-10-15
728  2018     11  408.02  2018-11-15
729  2018     12  409.07  2018-12-15
730  2019      1  410.83  2019-01-15
731  2019      2  411.75  2019-02-15
732  2019      3  411.97  2019-03-15
733  2019      4  413.32  2019-04-15
734  2019      5  414.66  2019-05-15

[735 rows x 4 columns]

In [64]:
df2

     Year  Month     C02  Day        Date
0    1958      3  315.71   15  1958-03-15
1    1958      4  317.45   15  1958-04-15
2    1958      5  317.50   15  1958-05-15
3    1958      6     NaN   15  1958-06-15
4    1958      7  315.86   15  1958-07-15
5    1958      8  314.93   15  1958-08-15
6    1958      9  313.20   15  1958-09-15
7    1958     10     NaN   15  1958-10-15
8    1958     11  313.33   15  1958-11-15
9    1958     12  314.67   15  1958-12-15
10   1959      1  315.62   15  1959-01-15
11   1959      2  316.38   15  1959-02-15
12   1959      3  316.71   15  1959-03-15
13   1959      4  317.72   15  1959-04-15
14   1959      5  318.29   15  1959-05-15
15   1959      6  318.15   15  1959-06-15
16   1959      7  316.54   15  1959-07-15
17   1959      8  314.80   15  1959-08-15
18   1959      9  313.84   15  1959-09-15
19   1959     10  313.26   15  1959-10-15
20   1959     11  314.80   15  1959-11-15
21   1959     12  315.58   15  1959-12-15
22   1960      1  316.43   15  1960-01-15
23   1960      2  316.97   15  1960-02-15
24   1960      3  317.58   15  1960-03-15
25   1960      4  319.02   15  1960-04-15
26   1960      5  320.03   15  1960-05-15
27   1960      6  319.59   15  1960-06-15
28   1960      7  318.18   15  1960-07-15
29   1960      8  315.91   15  1960-08-15
..    ...    ...     ...  ...         ...
705  2016     12  404.45   15  2016-12-15
706  2017      1  406.17   15  2017-01-15
707  2017      2  406.46   15  2017-02-15
708  2017      3  407.22   15  2017-03-15
709  2017      4  409.04   15  2017-04-15
710  2017      5  409.69   15  2017-05-15
711  2017      6  408.88   15  2017-06-15
712  2017      7  407.12   15  2017-07-15
713  2017      8  405.13   15  2017-08-15
714  2017      9  403.37   15  2017-09-15
715  2017     10  403.63   15  2017-10-15
716  2017     11  405.12   15  2017-11-15
717  2017     12  406.81   15  2017-12-15
718  2018      1  407.96   15  2018-01-15
719  2018      2  408.32   15  2018-02-15
720  2018      3  409.41   15  2018-03-15
721  2018      4  410.24   15  2018-04-15
722  2018      5  411.24   15  2018-05-15
723  2018      6  410.79   15  2018-06-15
724  2018      7  408.71   15  2018-07-15
725  2018      8  406.99   15  2018-08-15
726  2018      9  405.51   15  2018-09-15
727  2018     10  406.00   15  2018-10-15
728  2018     11  408.02   15  2018-11-15
729  2018     12  409.07   15  2018-12-15
730  2019      1  410.83   15  2019-01-15
731  2019      2  411.75   15  2019-02-15
732  2019      3  411.97   15  2019-03-15
733  2019      4  413.32   15  2019-04-15
734  2019      5  414.66   15  2019-05-15

[735 rows x 5 columns]

In [68]:
X = df2.loc[:,['Year', 'Month', 'Day']]

In [69]:
X.head()

   Year  Month  Day
0  1958      3   15
1  1958      4   15
2  1958      5   15
3  1958      6   15
4  1958      7   15

In [72]:
Y = np.array(df2.C02)

In [73]:
Y

array([315.71, 317.45, 317.5 ,    nan, 315.86, 314.93, 313.2 ,    nan,
       313.33, 314.67, 315.62, 316.38, 316.71, 317.72, 318.29, 318.15,
       316.54, 314.8 , 313.84, 313.26, 314.8 , 315.58, 316.43, 316.97,
       317.58, 319.02, 320.03, 319.59, 318.18, 315.91, 314.16, 313.83,
       315.  , 316.19, 316.93, 317.7 , 318.54, 319.48, 320.58, 319.77,
       318.57, 316.79, 314.8 , 315.38, 316.1 , 317.01, 317.94, 318.56,
       319.68, 320.63, 321.01, 320.55, 319.58, 317.4 , 316.26, 315.42,
       316.69, 317.69, 318.74, 319.08, 319.86, 321.39, 322.25, 321.47,
       319.74, 317.77, 316.21, 315.99, 317.12, 318.31, 319.57,    nan,
          nan,    nan, 322.25, 321.89, 320.44, 318.7 , 316.7 , 316.79,
       317.79, 318.71, 319.44, 320.44, 320.89, 322.13, 322.16, 321.87,
       321.39, 318.81, 317.81, 317.3 , 318.87, 319.42, 320.62, 321.59,
       322.39, 323.87, 324.01, 323.75, 322.39, 320.37, 318.64, 318.1 ,
       319.79, 321.08, 322.07, 322.5 , 323.04, 324.42, 325.  , 324.09,
       322.55, 320.92, 319.31, 319.31, 320.72, 321.96, 322.57, 323.15,
       323.89, 325.02, 325.57, 325.36, 324.14, 322.03, 320.41, 320.25,
       321.31, 322.84, 324.  , 324.42, 325.64, 326.66, 327.34, 326.76,
       325.88, 323.67, 322.38, 321.78, 322.85, 324.11, 325.03, 325.99,
       326.87, 328.13, 328.07, 327.66, 326.35, 324.69, 323.1 , 323.16,
       323.98, 325.13, 326.17, 326.68, 327.18, 327.78, 328.92, 328.57,
       327.34, 325.46, 323.36, 323.57, 324.8 , 326.01, 326.77, 327.63,
       327.75, 329.72, 330.07, 329.09, 328.05, 326.32, 324.93, 325.06,
       326.5 , 327.55, 328.54, 329.56, 330.3 , 331.5 , 332.48, 332.07,
       330.87, 329.31, 327.51, 327.18, 328.16, 328.64, 329.35, 330.71,
       331.48, 332.65, 333.2 , 332.16, 331.07, 329.12, 327.32, 327.28,
       328.3 , 329.58, 330.73, 331.46, 331.9 , 333.17, 333.94, 333.45,
       331.98, 329.95, 328.5 , 328.34, 329.37,    nan, 331.58, 332.75,
       333.52, 334.64, 334.77, 333.99, 333.06, 330.68, 328.95, 328.75,
       330.15, 331.62, 332.66, 333.13, 334.95, 336.13, 336.93, 336.17,
       334.88, 332.56, 331.29, 331.27, 332.41, 333.6 , 334.95, 335.25,
       336.66, 337.69, 338.03, 338.01, 336.41, 334.41, 332.37, 332.41,
       333.75, 334.9 , 336.14, 336.69, 338.27, 338.95, 339.21, 339.26,
       337.54, 335.75, 333.98, 334.19, 335.31, 336.81, 337.9 , 338.34,
       340.01, 340.93, 341.48, 341.33, 339.4 , 337.7 , 336.19, 336.15,
       337.27, 338.32, 339.29, 340.55, 341.61, 342.53, 343.03, 342.54,
       340.78, 338.44, 336.95, 337.08, 338.58, 339.88, 340.96, 341.73,
       342.81, 343.97, 344.63, 343.79, 342.32, 340.09, 338.28, 338.29,
       339.6 , 340.9 , 341.68, 342.9 , 343.33, 345.25, 346.03, 345.63,
       344.19, 342.27, 340.35, 340.38, 341.59, 343.05, 344.1 , 344.79,
       345.52,    nan, 347.63, 346.98, 345.53, 343.55, 341.4 , 341.67,
       343.1 , 344.7 , 345.21, 346.16, 347.74, 348.34, 349.06, 348.38,
       346.72, 345.02, 343.27, 343.13, 344.49, 345.88, 346.56, 347.28,
       348.01, 349.77, 350.38, 349.93, 348.16, 346.08, 345.22, 344.51,
       345.93, 347.21, 348.52, 348.73, 349.73, 351.31, 352.09, 351.53,
       350.11, 348.08, 346.52, 346.59, 347.96, 349.16, 350.39, 351.64,
       352.4 , 353.69, 354.21, 353.72, 352.69, 350.4 , 348.92, 349.12,
       350.2 , 351.41, 352.91, 353.27, 353.96, 355.64, 355.86, 355.37,
       353.99, 351.81, 350.05, 350.25, 351.49, 352.85, 353.8 , 355.04,
       355.73, 356.32, 357.32, 356.34, 354.84, 353.01, 351.31, 351.62,
       353.07, 354.33, 354.84, 355.73, 357.23, 358.66, 359.13, 358.13,
       356.19, 353.85, 352.25, 352.35, 353.81, 355.12, 356.25, 357.11,
       357.86, 359.09, 359.59, 359.33, 357.01, 354.94, 352.96, 353.32,
       354.32, 355.57, 357.  , 357.31, 358.47, 359.27, 360.19, 359.52,
       357.33, 355.64, 354.03, 354.12, 355.41, 356.91, 358.24, 358.92,
       359.99, 361.23, 361.65, 360.81, 359.38, 357.46, 355.73, 356.08,
       357.53, 358.98, 359.92, 360.86, 361.83, 363.3 , 363.69, 363.19,
       361.64, 359.12, 358.17, 357.99, 359.45, 360.68, 362.07, 363.24,
       364.17, 364.57, 365.13, 364.92, 363.55, 361.38, 359.54, 359.57,
       360.89, 362.24, 363.09, 364.03, 364.51, 366.35, 366.64, 365.59,
       364.31, 362.25, 360.29, 360.82, 362.49, 364.38, 365.27, 365.98,
       367.24, 368.66, 369.42, 368.99, 367.82, 365.95, 364.02, 364.4 ,
       365.52, 367.13, 368.18, 369.07, 369.68, 370.99, 370.96, 370.3 ,
       369.45, 366.9 , 364.81, 365.37, 366.72, 368.1 , 369.29, 369.55,
       370.6 , 371.82, 371.58, 371.7 , 369.86, 368.13, 367.  , 367.03,
       368.37, 369.67, 370.59, 371.51, 372.43, 373.37, 373.85, 373.22,
       371.51, 369.61, 368.18, 368.45, 369.76, 371.24, 372.53, 373.2 ,
       374.12, 375.02, 375.76, 375.52, 374.01, 371.85, 370.75, 370.55,
       372.25, 373.79, 374.88, 375.64, 376.45, 377.73, 378.6 , 378.28,
       376.7 , 374.38, 373.17, 373.15, 374.66, 375.99, 377.  , 377.87,
       378.88, 380.35, 380.62, 379.69, 377.47, 376.01, 374.25, 374.46,
       376.16, 377.51, 378.46, 379.73, 380.77, 382.29, 382.45, 382.21,
       380.74, 378.74, 376.7 , 377.  , 378.35, 380.11, 381.38, 382.19,
       382.67, 384.61, 385.03, 384.05, 382.46, 380.41, 378.85, 379.13,
       380.15, 381.82, 382.89, 383.9 , 384.58, 386.5 , 386.56, 386.1 ,
       384.5 , 381.99, 380.96, 381.12, 382.45, 383.95, 385.52, 385.82,
       386.03, 387.21, 388.54, 387.76, 386.36, 384.09, 383.18, 382.99,
       384.19, 385.56, 386.94, 387.48, 388.82, 389.55, 390.14, 389.48,
       388.03, 386.11, 384.74, 384.43, 386.02, 387.42, 388.7 , 390.2 ,
       391.17, 392.46, 393.  , 392.15, 390.2 , 388.35, 386.85, 387.24,
       388.67, 389.79, 391.33, 391.86, 392.6 , 393.25, 394.19, 393.74,
       392.51, 390.13, 389.08, 389.  , 390.28, 391.86, 393.12, 393.86,
       394.4 , 396.18, 396.74, 395.71, 394.36, 392.39, 391.11, 391.05,
       392.98, 394.34, 395.55, 396.8 , 397.43, 398.41, 399.78, 398.6 ,
       397.32, 395.2 , 393.45, 393.7 , 395.16, 396.84, 397.85, 398.01,
       399.77, 401.38, 401.78, 401.25, 399.1 , 397.03, 395.38, 396.03,
       397.28, 398.91, 399.98, 400.28, 401.54, 403.28, 403.96, 402.8 ,
       401.31, 398.93, 397.63, 398.29, 400.16, 401.85, 402.56, 404.12,
       404.87, 407.45, 407.72, 406.83, 404.41, 402.27, 401.05, 401.59,
       403.55, 404.45, 406.17, 406.46, 407.22, 409.04, 409.69, 408.88,
       407.12, 405.13, 403.37, 403.63, 405.12, 406.81, 407.96, 408.32,
       409.41, 410.24, 411.24, 410.79, 408.71, 406.99, 405.51, 406.  ,
       408.02, 409.07, 410.83, 411.75, 411.97, 413.32, 414.66])

In [74]:
cond_df = X.Year

In [75]:
cond = np.where(cond_df==2010)

In [76]:
cond

(array([622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633]),)

In [104]:
notcond = np.where(cond_df!=2010)

In [105]:
notcond

(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
         26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
         39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
         52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
         65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
         78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
         91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
        104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
        117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
        130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
        143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
        156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
        169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
        182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
        195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
        208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
        221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
        234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
        247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
        260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
        273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
        286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
        299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
        312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
        325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
        338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
        351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
        364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
        377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
        390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
        403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
        416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
        429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
        442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
        455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
        468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
        481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
        494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
        507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
        520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
        533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
        546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
        559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
        572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
        585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
        598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
        611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 634, 635,
        636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648,
        649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661,
        662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674,
        675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687,
        688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700,
        701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713,
        714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726,
        727, 728, 729, 730, 731, 732, 733, 734]),)

In [81]:
cond_df.iloc[cond]

622    2010
623    2010
624    2010
625    2010
626    2010
627    2010
628    2010
629    2010
630    2010
631    2010
632    2010
633    2010
Name: Year, dtype: int64

In [87]:
cond2 = cond_df==2010

In [88]:
cond2

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
705    False
706    False
707    False
708    False
709    False
710    False
711    False
712    False
713    False
714    False
715    False
716    False
717    False
718    False
719    False
720    False
721    False
722    False
723    False
724    False
725    False
726    False
727    False
728    False
729    False
730    False
731    False
732    False
733    False
734    False
Name: Year, Length: 735, dtype: bool

In [89]:
~cond2

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
       ...
705    True
706    True
707    True
708    True
709    True
710    True
711    True
712    True
713    True
714    True
715    True
716    True
717    True
718    True
719    True
720    True
721    True
722    True
723    True
724    True
725    True
726    True
727    True
728    True
729    True
730    True
731    True
732    True
733    True
734    True
Name: Year, Length: 735, dtype: bool

In [99]:
cond[0]

array([622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633])

In [102]:
X.iloc[list(cond[0]),]

     Year  Month  Day
622  2010      1   15
623  2010      2   15
624  2010      3   15
625  2010      4   15
626  2010      5   15
627  2010      6   15
628  2010      7   15
629  2010      8   15
630  2010      9   15
631  2010     10   15
632  2010     11   15
633  2010     12   15

In [109]:
def tr_te_split(X, Y, cond, notcond):
    nc = list(notcond[0])
    c = list(cond[0])
    trX = X.iloc[nc,]
    teX = X.iloc[c,]
    trY = Y[nc]
    teY = Y[c]
    return trX, trY, teX, teY

In [110]:
l = tr_te_split(X, Y, cond, notcond)

In [116]:
l[3]

array([388.7 , 390.2 , 391.17, 392.46, 393.  , 392.15, 390.2 , 388.35,
       386.85, 387.24, 388.67, 389.79])